@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap");
:root {
  --color1: #2e073f;
  --color2: #7a1cac;
  --color3: #ad49e1;
  --color4: #ebd3f8;
  --color5: #624e88;
  --color6: #8967b3;
  --color7: #cb80ab;
  scroll-behavior: smooth;
}
.news {
  background-color: var(--color2);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news .NewsHeader {
  background: linear-gradient(rgba(46, 7, 63, 0.8), rgba(46, 7, 63, 0.8)),
    url(../../assets/news.jpg);
  background-size: cover;
  margin-bottom: 10px;
  width: 92%;
  height: 40vh;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news .NewsHeader h1 {
  font-size: 30px;
  color: var(--color4);
  font-style: italic;
  font-family: "Edu AU VIC WA NT Guides", sans-serif;
}
.news ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.news ul li {
  width: 30%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.news ul li img {
  width: 100%;
  border-radius: 10px;
}
.news ul li h2 {
  font-size: 20px;
  font-family: "Edu AU VIC WA NT Guides", sans-serif;
}
.news ul li p {
  line-height: 1.5rem;
  font-family: "Roboto", sans-serif;
}
.news ul li a {
  color: var(--color4);
}
@media screen and (max-width: 48.75em) {
  .news ul li {
    width: 45%;
  }
}
@media screen and (max-width: 48.75em) {
  .news ul li h2 {
    font-size: 16px;
  }
  .news ul li p {
    font-size: 14px;
  }
}
@media screen and (max-width: 48.75em) {
  .news ul li {
    width: 90%;
  }
}
